{% extends "application.njk" %}

{% block left %}
  Enjoy!
{% endblock %}

{% block right %}
  <h1>Project</h1>
  <ul>
    {% for proj in projects %}
		<li>{{ proj.name }} - {{ proj.description }} <a class="project-link" href="#" data-id="{{ proj.id }}" >Delete</a></li>
    {% endfor %}
  </ul>
{% endblock %}

{% block scripts %}
<script src="./dist/project.js"></script>
{% endblock %}

