{% extends "layout.njk" %}

{% block left %}
{% endblock %}

{% block right %}
  <h1>Project</h1>
  <ul>
    {% for proj in projects %}
    <li><a href="projects/edit/{{ proj.id }}">{{ proj.name }}</a> 
      - {{ proj.description }} 
      <a class="project-link" href="#" data-id="{{ proj.id }}" >Delete</a>
    </li>
    {% endfor %}
  </ul>
  <a href="projects/new">New Project</a>
{% endblock %}

{% block scripts %}
<script src="project.js"></script>
{% endblock %}


