{% extends "application.njk" %}

{% block left %}
  Enjoy!
{% endblock %}

{% block right %}
  <h1>Project</h1>
  <ul>
    {% for proj in projects %}
		<li>{{ proj.name }} - {{ proj.description }} <a href="/projects/" {{ proj.id }}" >Delete</a></li>
    {% endfor %}
  </ul>
{% endblock %}

