<!DOCTYPE html>

<head>

 <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Questrial|Syncopate" rel="stylesheet">   
  <style>
    body {
    position: relative;
    text-align: center;
    }

    .container {
    min-height: 300px;
    }

    .erthang {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    
    #title {
    font-size: 5em;
    font-family: 'Syncopate', sans-serif;
    color: #e7e7e7;
    }
</style>
</head>

<body>
  <div class="container">
    <div class="erthang">
      <img src="/images/xoso.svg" style="border-radius: 30px; height: 60px;" >
      <span id="title">XOSO</span>
    </div>
  </div>
</body>
</html>

