{% block header %}
   <img src="images/xoso-logo-1.png">
   <h1>{{ title }}</h1>
{% endblock %}

<section class="left">
  {% block left %}
  menu
  {% endblock %}
</section>

<section class="right">
  {% block right %}
  {% endblock %}
</section>

