<!DOCTYPE html>
<html>
  <head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120516301-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-120516301-1');
  </script>
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <link href="toastr/toastr.css" rel="stylesheet">

  </head>
  <body>
    {% if userName !== null %}
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">xoso</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="/about">About<span class="sr-only">(current)</span></a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
          
					<ul class="nav navbar-nav navbar-right">
          {% if userName != null %}
						<li><a href="/logout">Logout</a></li>
          {% else %}
						<li><a href="/login">Login</a></li>
          {% endif %}
					</ul>
				</div>
			</div>
		</nav>
    {% endif %}

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          {% block header %}
          <img src="/images/xoso.svg" style="border-radius: 30px; height: 60px;" >
          <h1>{{ title }}</h1>
          {% endblock %}
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <section class="left">
          {% block left %}
          menu
          {% endblock %}
          </section>

          <section class="right">
          {% block right %}
          {% endblock %}
          </section>
        </div>
      </div>
    </div>

		{# core client-side dependencies #}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="toastr/toastr.min.js"></script>

		{# custom scripts loaded here #}
		{% block scripts %}
		{% endblock %}
  </body>
</html>

